.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centers items vertically */
  align-items: center; /* centers items horizontally */

  width: 100%;
  height: 100vh;
}
.tro_title {
  /* width: fit-content; */
  position: relative;
  font-size: 50px;
  display: flex;
  left: 0%;
  bottom: 20%;
  /* top: 35px;
  left: 130px; */
  text-shadow: rgb(198, 238, 78) 2px 0px 0px, rgb(198, 238, 78) -2px 0px 0px,
    rgb(198, 238, 78) 0px 2px 0px, rgb(198, 238, 78) 0px -2px 0px,
    rgb(198, 238, 78) 1px 1px, rgb(198, 238, 78) -1px -1px 0px,
    rgb(198, 238, 78) 1px -1px 0px, rgb(198, 238, 78) -1px 1px 0px,
    rgb(198, 238, 78) 0px 0px 7px, rgb(198, 238, 78) 0px 0px 10px,
    rgb(198, 238, 78) 0px 0px 21px;
}
.dot {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 16px;
}
.cit_logo {
  width: 500px;
  /* height: 70px; */
  /* margin: 10px 5px 30px 45px; */
  /* margin-bottom: 60px; */
}
.cit_logo.hide {
  visibility: hidden;
}
.cit_title {
  display: none;
}
.gls-card {
  position: relative;
  width: 680px;
  /* height: 600px; */
  background-color: transparent;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background-size: contain;
  background-repeat: no-repeat; */
  /* animation: float 1s infinite alternate; */
  /* box-shadow: 2px 2px 25px #38e8ff; */
  z-index: 99;

  /* overflow-wrap: break-word; */
}
.logo_round {
  margin: 10px;
  width: 120px;
  height: 120px;
  position: relative;
  top: 0%;
  right: 40%;
}
.logo_round.hide {
  visibility: hidden;
}

.holo {
  position: relative;

  width: 490px;
  height: 20px;
  right: 30px;
  z-index: 999;
  /* margin: -5px auto 0; */
  background-color: rgba(0, 252, 252, 0.35);
  border-radius: 100%;
  filter: blur(2.5px);
  transform: perspective(100px) rotateX(-40deg);
  transform-style: preserve-3d;
  animation: holographic 1.5s infinite alternate;
  backface-visibility: hidden;
}
.holo:after {
  position: absolute;
  left: -5px;
  right: -5px;
  content: "";
  height: 10px;
  background-color: rgba(0, 252, 252, 0.5);
  border-radius: 100%;
  filter: blur(2.5px);
}
.holo + .holo {
  animation-duration: 0.75s;
  opacity: 0.5;
}
@keyframes float {
  from {
    will-change: unset;
    transform: translateY(-10px);
  }
  to {
    will-change: transform;
    transform: translateY(-30px);
  }
}
@keyframes holographic {
  from {
    will-change: box-shadow;
    box-shadow: 0 -75px 5px rgba(0, 252, 252, 0.15),
      0 -1px 2px rgba(0, 252, 252, 0.5), 0 -45px 5px rgba(0, 252, 252, 0.15),
      0 -2px 3px rgba(0, 252, 252, 0.5), 0 -3px 4px rgba(0, 252, 252, 0.5),
      0 -4px 6px rgba(0, 252, 252, 0.5), 0 -5px 10px rgba(0, 252, 252, 0.75),
      0 -7px 20px rgba(0, 252, 252, 0.75), 0 -10px 30px rgba(0, 252, 252, 0.75),
      0 -15px 40px rgba(0, 252, 252, 0.75), 0 -25px 50px rgba(0, 252, 252, 0.75),
      0 -35px 60px rgba(0, 252, 252, 0.85), 0 -45px 70px rgba(0, 252, 252, 0.95),
      0 -65px 80px rgba(0, 252, 252, 1), 0 -75px 90px rgba(0, 252, 252, 1);
  }
  to {
    will-change: unset;
    box-shadow: 0 -1px 5px rgba(0, 252, 252, 0.15),
      0 -1px 2px rgba(0, 252, 252, 0.5), 0 -1px 5px rgba(0, 252, 252, 0.15),
      0 -2px 3px rgba(0, 252, 252, 0.5), 0 -3px 4px rgba(0, 252, 252, 0.5),
      0 -4px 6px rgba(0, 252, 252, 0.5), 0 -5px 7px rgba(0, 252, 252, 0.75),
      0 -7px 10px rgba(0, 252, 252, 0.75), 0 -10px 15px rgba(0, 252, 252, 0.75),
      0 -15px 20px rgba(0, 252, 252, 0.75), 0 -25px 25px rgba(0, 252, 252, 0.75),
      0 -35px 30px rgba(0, 252, 252, 0.85), 0 -45px 35px rgba(0, 252, 252, 0.95),
      0 -65px 40px rgba(0, 252, 252, 1), 0 -75px 50px rgba(0, 252, 252, 1);
  }
}

.text-home {
  /* padding: 0 25px 0 25px; */
  letter-spacing: 2px;
  /* overflow-wrap: break-word; */
  color: white;
  font-size: 30px;
  position: relative;
  bottom: 10%;
  /* left: 8%; */
  text-align: center;
  font-family: sans-serif;
  font-weight: 300;
}
#button1 {
  width: 100px;
  padding: 2px;
  font-size: 30px;
  /* font-weight: ; */
  position: relative;
  /* left: 37%; */
  border-radius: 20px;
  border: 0px solid transparent;
  /* height: fit-content; */
  background: #f9f6f7;
  box-shadow: 0 0 5px #fffeff, 0 0 15px #fffdfe, 0 0 30px #fffdfe,
    0 0 60px #f7f5f6;
}

@media only screen and (max-width: 1024px) {
  .hero-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* overflow: hidden; */
    background-color: black;
  }
  /* .tro_title {
    display: none;
    width: fit-content;
    position: absolute;
    font-size: 70px;
    top: 40px;
    left: 10px;
    text-shadow: rgb(198, 238, 78) 2px 0px 0px, rgb(198, 238, 78) -2px 0px 0px,
      rgb(198, 238, 78) 0px 2px 0px, rgb(198, 238, 78) 0px -2px 0px,
      rgb(198, 238, 78) 1px 1px, rgb(198, 238, 78) -1px -1px 0px,
      rgb(198, 238, 78) 1px -1px 0px, rgb(198, 238, 78) -1px 1px 0px,
      rgb(198, 238, 78) 0px 0px 7px, rgb(198, 238, 78) 0px 0px 10px,
      rgb(198, 238, 78) 0px 0px 21px;
  } */
  .cit_logo {
    width: 290px;
    height: 70px;
    position: relative;
    left: 30%;
    top: -10%;
    /* margin: 10px 5px 30px 5px; */
  }
  .gls-card {
    position: relative;
    width: 81vw;
    background-color: transparent;
    height: 500px;

    top: 2%;
    right: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* display: flex; */
    /* padding: 1px; */
    /* background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-size: contain;
    background-repeat: no-repeat;*/
    /* animation: float 1s infinite alternate; */
    /* box-shadow: 2px 2px 25px #38e8ff; */
  }

  .gls-card.holo {
    position: absolute;
    bottom: 0;
  }

  .holo {
    position: relative;

    width: 290px;
    height: 20px;
    /* right: 60px; */
    z-index: 999;
    top: 10%;
    left: 2%;
    /* margin: -5px auto 0; */
    background-color: rgba(0, 252, 252, 0.35);
    border-radius: 100%;
    filter: blur(2.5px);
    transform: perspective(100px) rotateX(-40deg);
    transform-style: preserve-3d;
    animation: holographic 1.5s infinite alternate;
    backface-visibility: hidden;
  }
  .holo:after {
    position: absolute;
    left: -10px;
    right: -10px;
    content: "";
    height: 10px;
    background-color: rgba(0, 252, 252, 0.5);
    border-radius: 100%;
    filter: blur(2.5px);
  }
  .holo + .holo {
    animation-duration: 0.75s;
    opacity: 0.5;
  }
  @keyframes float {
    from {
      will-change: unset;
      transform: translateY(-10px);
    }
    to {
      will-change: transform;
      transform: translateY(-30px);
    }
  }
  @keyframes holographic {
    from {
      will-change: box-shadow;
      box-shadow: 0 -75px 5px rgba(0, 252, 252, 0.15),
        0 -1px 2px rgba(0, 252, 252, 0.5), 0 -45px 5px rgba(0, 252, 252, 0.15),
        0 -2px 3px rgba(0, 252, 252, 0.5), 0 -3px 4px rgba(0, 252, 252, 0.5),
        0 -4px 6px rgba(0, 252, 252, 0.5), 0 -5px 10px rgba(0, 252, 252, 0.75),
        0 -7px 20px rgba(0, 252, 252, 0.75),
        0 -10px 30px rgba(0, 252, 252, 0.75),
        0 -15px 40px rgba(0, 252, 252, 0.75),
        0 -25px 50px rgba(0, 252, 252, 0.75),
        0 -35px 60px rgba(0, 252, 252, 0.85),
        0 -45px 70px rgba(0, 252, 252, 0.95), 0 -65px 80px rgba(0, 252, 252, 1),
        0 -75px 90px rgba(0, 252, 252, 1);
    }
    to {
      will-change: unset;
      box-shadow: 0 -1px 5px rgba(0, 252, 252, 0.15),
        0 -1px 2px rgba(0, 252, 252, 0.5), 0 -1px 5px rgba(0, 252, 252, 0.15),
        0 -2px 3px rgba(0, 252, 252, 0.5), 0 -3px 4px rgba(0, 252, 252, 0.5),
        0 -4px 6px rgba(0, 252, 252, 0.5), 0 -5px 7px rgba(0, 252, 252, 0.75),
        0 -7px 10px rgba(0, 252, 252, 0.75),
        0 -10px 15px rgba(0, 252, 252, 0.75),
        0 -15px 20px rgba(0, 252, 252, 0.75),
        0 -25px 25px rgba(0, 252, 252, 0.75),
        0 -35px 30px rgba(0, 252, 252, 0.85),
        0 -45px 35px rgba(0, 252, 252, 0.95), 0 -65px 40px rgba(0, 252, 252, 1),
        0 -75px 50px rgba(0, 252, 252, 1);
    }
  }
  .text-home {
    /* padding: 0 20px 0 20px; */
    padding: 0 9px 0 9px;
    letter-spacing: 0.6px;
    font-size: 24px;
    position: relative;
    width: fit-content;
    left: 40%;
    bottom: 3%;
    text-align: center;
    overflow: hidden;
  }
  .tro_title {
    display: flex;
    font-size: 40px;
    position: absolute;
    top: 16px;
    left: 70%;
  }

  #button1 {
    /* width: 90px; */
    padding: 2px;
    /* height: fit-content; */
    font-size: 30px;
    /* font-weight: ; */
    position: relative;
    left: 120%;
    top: 100%;
    /* margin-left: auto;
    margin-right: auto; */

    border-radius: 20px;

    border: 0px solid transparent;

    background: #f9f6f7;
    box-shadow: 0 0 5px #fffeff, 0 0 15px #fffdfe, 0 0 30px #fffdfe,
      0 0 60px #f7f5f6;
  }
  .logo_round {
    /* margin; */
    /* margin-left: 32px; */
    width: 80px;
    height: 80px;

    position: absolute;
    top: 0px;
    left: 30%;
  }
}
