.container {
  z-index: -99999999;
}
.dept h1 {
  position: absolute;
  font-size: 60px;
  font-weight: 900;
  width: fit-content;
  left: 10%;
  top: 20%;

  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
}
@keyframes text {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
#quotes {
  position: absolute;
  left: 10%;
  top: 30%;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 2px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: text 5s linear infinite;
  animation-delay: 1s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  position: absolute;
  left: 30%;
  font-size: 30px;
  width: fit-content;
}
.scroll {
  position: absolute;
  top: 85%;
  left: 48%;
}
.scroll h2 {
  position: relative;
  left: -43px;
  color: white;
  padding: 7px;
}
.scroll img {
  width: 40px;
  animation: scrolll;
  animation-duration: 0.9s;
  transition: 1s;
  animation-iteration-count: infinite;
}
button {
  outline: 0;
  border: 0;
  font-size: 40px;
  padding: 3px;
  border-radius: 50em;
  color: #fff;
  position: absolute;
  transform-style: preserve-3d;
  top: 70%;
  left: 45%;
  animation: reges 6s linear infinite;
}
@keyframes reges {
  0% {
    background: #ff1f71;
    box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71,
      0 0 60px #ff1f71;
  }
  50% {
    background: #2db2ff;
    box-shadow: 0 0 5px #2db2ff, 0 0 15px #2db2ff, 0 0 30px #2db2ff,
      0 0 60px #2db2ff;
  }
  100% {
    background: #1eff45;
    box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45,
      0 0 60px #1eff45;
  }
}
.effect {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: inherit;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  animation: 6s linear infinite;
}
.effect:nth-child(1) {
  animation-name: motion-1;
}
.effect:nth-child(2) {
  animation-name: motion-2;
}
.effect:nth-child(3) {
  animation-name: motion-3;
}
@keyframes motion-1 {
  0% {
    transform: rotateX(0deg) translateZ(1.5em) skewY(5deg);
  }
  100% {
    transform: rotateX(360deg) translateZ(1.5em) skewY(5deg);
  }
}
@keyframes motion-2 {
  0% {
    transform: rotateX(120deg) translateZ(1.5em) skewY(5deg);
  }
  100% {
    transform: rotateX(480deg) translateZ(1.5em) skewY(5deg);
  }
}
@keyframes motion-3 {
  0% {
    transform: rotateX(240deg) translateZ(1.5em) skewY(5deg);
  }
  100% {
    transform: rotateX(600deg) translateZ(1.5em) skewY(5deg);
  }
}
@keyframes scrolll {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0px);
  }
}
#intro {
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid white;
  color: #ecf0f1;
  /* border-radius: 8px; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border: solid 1px rgba(255, 255, 255, 0.3);
  backgroud-clip: padding-box;
  backdrop-filter: blur(10px);
  border-right: white 15px solid;
  animation: cursor 1s ease-in-out, texts 5s steps(100) infinite;
}
@keyframes cursor {
  0%,
  100% {
    border-color: white;
  }
}
@keyframes texts {
  0% {
    width: 0;
  }
  100% {
    width: 78%;
  }
}

.area {
  background: black;
  /* background: -webkit-linear-gradient(to left, #8f9 bottom: 1%;4fb, #4e54c8); */
  width: 100%;
  height: 100vh;
  z-index: 999999;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;

  bottom: 10;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 80px;
  height: 80px;
  background: rgba(255, 255, 255, 1);
  animation: animate 15s infinite linear;
  bottom: -150px;
  border-radius: 15px;
}

.circles li:nth-child(1) {
  left: 25%;
  bottom: 1%;
  width: 100px;
  height: 100px;
  position: relative;
  top: 90%;
  box-shadow: 24px 24px 93px #b7f2ea, -24px -24px 93px #bef9f9;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  bottom: 1%;
  width: 100px;
  height: 100px;
  animation-delay: 2s;
  position: relative;
  top: 90%;
  box-shadow: 24px 24px 93px #b7f2ea, -24px -24px 93px #bef9f9;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  bottom: 1%;
  width: 90px;
  height: 90px;
  position: relative;
  top: 90%;
  box-shadow: 24px 24px 93px #b7f2ea, -24px -24px 93px #bef9f9;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  bottom: 1%;
  width: 110px;
  height: 110px;
  position: relative;
  top: 90%;
  animation-delay: 0s;
  box-shadow: 24px 24px 93px #b7f2ea, -24px -24px 93px #bef9f9;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  position: relative;
  top: 90%;
  box-shadow: 24px 24px 93px #b7f2ea, -24px -24px 93px #bef9f9;

  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  position: relative;
  top: 90%;
  box-shadow: 24px 24px 93px #b7f2ea, -24px -24px 93px #bef9f9;

  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  position: relative;
  top: 90%;
  box-shadow: 24px 24px 93px #b7f2ea, -24px -24px 93px #bef9f9;

  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  position: relative;
  top: 90%;
  box-shadow: 24px 24px 93px #b7f2ea, -24px -24px 93px #bef9f9;

  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  position: relative;
  top: 90%;
  box-shadow: 24px 24px 93px #b7f2ea, -24px -24px 93px #bef9f9;

  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  position: relative;
  top: 90%;
  box-shadow: 24px 24px 93px #b7f2ea, -24px -24px 93px #bef9f9;

  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 15px;
    background: #83edfd;
    box-shadow: 24px 24px 93px #b7f2ea, -24px -24px 93px #bef9f9;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
    border-radius: 39px;
    background: #aefdbee6;
    box-shadow: 24px 24px 93px #77feee, -24px -24px 93px #39fb87;
  }
}

@media screen and (max-width: 1040px) {
  .dept h1 {
    position: relative;
    font-size: 40px;
    width: 80%;
    /* left: 10%; */
    top: 20%;
  }
  /* 
  #quotes {
    width: fit-content;
    
    animation-delay: 10s;
  } */
  #intro {
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid white;
    color: #ecf0f1;
    /* border-radius: 8px; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0px;
    background: rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.3);
    backgroud-clip: padding-box;
    backdrop-filter: blur(10px);
    border-right: white 15px solid;
    animation: cursor 1s ease-in-out, texts 5s steps(100) infinite;
    font-size: 20px;
    width: 100%;
    position: absolute;
    top: 30%;
    left: 10%;
  }

  .scroll {
    position: absolute;
    top: 85%;
    left: 48%;
  }
  .scroll h2 {
    position: relative;
    left: -43px;
    color: white;
    padding: 7px;
  }
  button {
    outline: 0;
    border: 0;
    font-size: 40px;
    font-weight: semi-bold;
    letter-spacing: 1px;
    z-index: 10000;
    /* background: linear-gradient(red, blue); */
    padding: 4px;
    border-radius: 50em;
    color: #fff;
    position: absolute;
    transform-style: preserve-3d;
    top: 70%;
    left: 37%;
    z-index: 0;
    animation: reges 6s linear infinite;
  }
  @keyframes reges {
    0% {
      background-color: #ff1f71;
      box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71,
        0 0 60px #ff1f71;
    }
    50% {
      background-color: #2db2ff;
      box-shadow: 0 0 5px #2db2ff, 0 0 15px #2db2ff, 0 0 30px #2db2ff,
        0 0 60px #2db2ff;
    }
    100% {
      background-: #1eff45;
      box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45,
        0 0 60px #1eff45;
    }
  }
  .effect {
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: inherit;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    animation: 6s linear infinite;
  }
  .effect:nth-child(1) {
    animation-name: motion-1;
  }
  .effect:nth-child(2) {
    animation-name: motion-2;
  }
  .effect:nth-child(3) {
    animation-name: motion-3;
  }
  @keyframes motion-1 {
    0% {
      transform: rotateX(0deg) translateZ(1.5em) skewY(5deg);
    }
    100% {
      transform: rotateX(360deg) translateZ(1.5em) skewY(5deg);
    }
  }
  @keyframes motion-2 {
    0% {
      transform: rotateX(120deg) translateZ(1.5em) skewY(5deg);
    }
    100% {
      transform: rotateX(480deg) translateZ(1.5em) skewY(5deg);
    }
  }
  @keyframes motion-3 {
    0% {
      transform: rotateX(240deg) translateZ(1.5em) skewY(5deg);
    }
    100% {
      transform: rotateX(600deg) translateZ(1.5em) skewY(5deg);
    }
  }
}
